<h1> PART2 <h1>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('data1.csv')
df.reset_index(drop=True,inplace=True)
df.rename(columns={'Postal code':'Postal_code'},inplace=True)
df.shape

(180, 3)

In [3]:
df=df[df['Borough']!="Not assigned"]
print(df.shape)
df.groupby('Postal_code')
#no empty null values in neighborhood
print(df['Neighborhood'].isna().sum())
df.head()

(103, 3)
0

  Postal_code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

<h2>The geocoder didn't help ! <h2>

In [4]:
import geocoder
# initialize your variable to None
lat_lng_coords = None
#print(df[["Neighborhood"]])
# loop until you get the coordinates
i=50
while(i>0):
    g = geocoder.google('CA')
    #print(g.latlng)
    i=i-1
#print(lat_lng_coords[0])
#longitude = lat_lng_coords[1]

I have used the csv file for the geolocations

In [5]:
df_geo=pd.read_csv('Geospatial_Coordinates.csv')

print("df_geo shape:",df_geo.shape)
print("df:",df.shape)
df.sort_values('Postal_code',inplace=True)
df.reset_index(drop=True,inplace=True)
df[['Latitude']]=df_geo[['Latitude']]
df[['Longitude']]=df_geo[['Longitude']]
#check that there are none null values
print(df.isnull().sum())

df_geo shape: (103, 3)
df: (103, 3)
Postal_code     0
Borough         0
Neighborhood    0
Latitude        0
Longitude       0
dtype: int64

In [7]:
df.head(10)

,Postal_code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,Malvern / Rouge,43.806686,-79.194353
1,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek,43.784535,-79.160497
2,M1E,Scarborough,Guildwood / Morningside / West Hill,43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,Kennedy Park / Ionview / East Birchmount Park,43.727929,-79.262029
7,M1L,Scarborough,Golden Mile / Clairlea / Oakridge,43.711112,-79.284577
8,M1M,Scarborough,Cliffside / Cliffcrest / Scarborough Village West,43.716316,-79.239476
9,M1N,Scarborough,Birch Cliff / Cliffside West,43.692657,-79.264848